{% extends "base.html" %}

{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Log In" %}{% endblock %}

{% block nav_login %}
active
{% endblock %}

{% block content %}
<div class="login-img d-flex justify-content-center align-items-center" style="background-image: url('{% static 'images/lemons.webp' %}');">
  <div class="col-md-6 rounded bckgrnd p-4">
    <h3>{% trans "Log In" %}</h3>
    <p>{% blocktrans %}Welcome back to <b>RecipeRepo!</b></p>
    <p>
      We hope to see you in the comments section very soon. If you haven't 
      created an account yet and you would like to get involved with our 
      community, by commenting, liking and bookmarking recipes please 
      <a href="{{ signup_url }}" class="account-text">sign up</a>.
    </p> 
    <p><em>It's free, easy and everyone is welcome.{% endblocktrans %}</em></p>
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="btn btn-login" type="submit" aria-labels="Log In">{% trans "Log In" %}</button>
    </form>
  </div>
</div> 

{% endblock %}
