{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container col-md-6 bdr">
<div class="container d-flex justify-content-center mt-4">
  <div class="row">
    <div class="">
      <h3>{% trans "Sign In" %}</h3>
      <p>{% blocktrans %}Welcome back to <em>RecipeRepo!</em></p>
      <p>
        We hope to see you in the comments section very soon. If you haven't 
        created an account yet and you would like to get involved with our 
        community, by commenting, liking and bookmarking recipes please 
        <a href="{{ signup_url }}">sign up</a>.
      </p> 
      <p><em>It's free, easy and everyone is welcome.{% endblocktrans %}</em></p>
    </div>
  </div>
</div>
<div class="container d-flex mb-4">
  <div class="row">
    <div class="">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
      </form>
    </div>
  </div>
</div>
</div> 

{% endblock %}
