/* CSS Custom Styles */

footer {
    background-color: #e9ecef;
    width:100vw;
    padding: 10px;
}

.ul-container {
    text-align: center;
}

.feature-list {
    display: inline-block;
    text-align: left;
}

.icons-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
    padding-bottom: 5%;
}

p.card-text {
    margin: 0;
}

.recipe-link {
    text-decoration: none;
    color: black;
}

.recipe-link:hover {
    color: gray;
}