/* CSS Custom Styles */

/* Base html styles */

.active {
    font-weight: 700;
}

footer {
    background-color: #e9ecef;
    padding: 10px;
}

a {
    text-decoration: none;
}

/* Index > Accordion Styles */

.ul-container {
    text-align: center;
}

.feature-list {
    display: inline-block;
    text-align: left;
}

.accordion-button {
    background-color: #e9ecef;
}

.accordion-button:not(.collapsed) {
    color:black;
    background-color: #e9ecef;
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none;
}

/* Index > Recipe Section */

.icons-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
    padding-bottom: 5%;
}

p.card-text {
    margin: 0;
}

.recipe-link {
    text-decoration: none;
    color: black;
}

.recipe-link:hover {
    color: gray;
}

.image{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
    
}
.image img{
    position:absolute;
}


/* .image-background{
    min-height: 200px;
    min-width: 200px;
    background-image: url('{{ recipe.image.url }}') fill;
} */

.tag-btn {
    border: 1px solid rgb(68, 77, 82);
    background-color: rgb(195, 255, 149);
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-radius: 3px;
    margin: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

/* Recipe Detail Styling */

.detail-img {
    padding: 0;
}

.card-text {
    padding-bottom: 16px;
}

.hr-break {
    width: 80%;
}


/* Like and Bookmark Buttons */

.btn-like {
    border: 0;
    background-color: white;
}


/* Comment Section */

.comment-box {
    border: rgba(187, 214, 234, 0.783) 3px solid;
    border-radius: .375rem;

}

.comment-name {
    background-color: rgba(147, 214, 234, 0.783);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    
}

.comment-user {
    font-size: large;
}

.comment-date {
    font-size: medium;
    font-weight: 500;
    color: rgb(65, 65, 65);
}

.comment-content {
    background-color: rgba(219, 238, 253, 0.783);
    border-top: rgba(187, 214, 234, 0.783) 2px solid;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font-weight: 450;
}

.edit-icon {
    text-decoration: none;
}

/* Edit Comment */

.btn-outline-info {
    color: black;
    font-weight: 500;
}

/* Delete Comment */

.btn-outline-danger {
    font-weight: 500;
}


/* Account Pages */

.bdr {
    border: solid #e9ecef;
    border-radius: 2.5%;
}

.bckgrnd {
    background-color: #e9ecef;
}

.login-img {
    background: url('/static/images/lemons.webp');
    background-size: cover;
    padding: 5%;
    height: 85vh;
}

.btn-login {
    background-color: rgb(193, 139, 0);
    font-weight: 700;
}

.btn-login:hover {
    background-color: rgb(55, 55, 55);
    color:rgb(193, 139, 0);

}

.account-text {
    text-decoration: none;
    font-weight: bold;
    color: rgb(193, 139, 0);
    text-shadow: 1%;
}

.account-text:hover {
    color: rgb(55, 55, 55);
}

.joinus-img {
    background: url('/static/images/oranges.webp');
    background-size: cover;
    padding: 20% 5% 20% 5%;
    height: 85vh;
}

.logout-img {
    background: url('/static/images/apples.webp');
    background-size: cover;
    padding: 20%;
    height: 85vh;
}

/* Bookmarks & Recipe Pages */

.bck-color {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 75vh;
}

.bck-img {
    min-height: 75vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-heading {
    color: white;
    font-size: xx-large;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.item-row {
    margin: 15px;
    border: 3px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
}

.item-img {
    min-height: 100px;
    background-position: bottom 40% center;
    background-size: cover;
    color: rgba(255, 255, 255, 0.4);
}

.item-def-img {
    min-height: 100px;
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
}

.item-title {
    font-weight: bold;
    margin: 0;
    padding: 5px;
}

.bookmark-icon {
    padding: 2px;
}

/* Seasons Pages */

.seasons-backgrnd {
    min-height: 20vh;
}

.seasons-header {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 20vh;
}

/* Responsive Design Styles for Different Screen Sizes */

@media screen and (max-width:440px) {

    /* Bookmark and My Recipe Pages */

    .item-title {
        font-size:medium;
    }

    .item-img {
        min-height: 75px;
    }
    
    .item-def-img {
        min-height: 75px;
    }

}

@media screen and (max-width:374px) {

    /* Bookmark and My Recipe Pages */

    .item-title {
        font-size:small;
    }

    .item-img {
        min-height: 75px;
    }
    
    .item-def-img {
        min-height: 75px;
    }

    .item-status {
        font-size: small;
    }

}