{% extends 'base.html' %}

{% block content %}

<div class="col-12 d-flex justify-content-center align-items-center error-bckgrnd">
    <div class="col-8 error-container m-4 p-3 rounded">
        <h3 class="text-center">
            Oops! It seems like you went down the rabbit hole and went to
            a 'page not found', but we found you!
        </h3>
        <p class="error-info text-center pt-2">
            Click on any of the links in the menu above to get back to 
            the our Recipe Party
        </p>
    </div>
</div>

{% endblock %}