{% extends 'base.html' %}

{% block content %}

<div class="col-12 d-flex justify-content-center align-items-center error-bckgrnd">
    <div class="error-container m-4 p-2 col-8 p-3">
        <h3 class="text-center">
            Oops! Our server wasn't serving at our Recipe Party, maybe its gone to Wonderland...
        </h3>
        <p class="error-info text-center pt-2">
            Alas, please come back soon and hopefully our server is back serving
            you deliciousness at our Recipe Party
        </p>
    </div>
</div>

{% endblock %}