{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<h2>
    Add a recipe:
</h2>

{% if user.is_authenticated %}
    <div class="col-12 d-flex flex-column align-items-center">
        <form method="post" class="col-6">
            {{ form | crispy }}
            {% csrf_token %}
            <div class="d-flex justify-content-end">
                <button type="submit m-1" class="btn btn-login m-2 col-3">Submit</button>
            </div>
        </form>
    </div>
{% endif %}

{% endblock content %}