{% extends "base.html" %}

{% load static %}

{% block nav_user %}
active
{% endblock %}

{% block nav_bookmarks %}
active
{% endblock %}

{% block content %}
<div class="col-12 bck-img bck-color p-1" style="background-image: url('{% static 'images/bookmark-bckgrnd.webp' %}');">
    <div class="bck-color">
        <h3 class="col-12 text-center main-heading">
            Bookmarks
        </h3>
        <!-- Each Bookmark Row Item -->
        {% for recipe in recipe_list %}
            {% if request.user in recipe.bookmarks.all %}
                <div class="row g-0 item-row rounded">
                    <a href="" class="col-4 h5 item-title">{{recipe.title}}</a>
                    {% if 'default' in recipe.image.url %}
                        <a href="" class="col-6 item-def-img" style="background-image: url('{% static 'images/bookmark-logo.webp' %}');"></a>
                    {% else %}
                        <a href="" class="col-6 item-img" style="background-image: url('{{ recipe.image.url }}')"></a>
                    {% endif %}
                    <form action="{% url 'recipe_bookmark' recipe.slug %}" method="POST" class="col-2">
                        {% csrf_token %}
                        <span> 
                            <button class="btn-like" type="submit" name="recipe_id" value="{{recipe.slug}}">
                                <i class="fa-solid fa-bookmark fa-xl bookmark-icon"></i>
                            </button>
                        </span>
                    </form>
                </div>
            {% endif %}
        {% endfor %}
        <!-- Pagination Navigation. Credit: 'I Think Therefore I Blog' walkthrough, Code Institute -->
        {% if is_paginated %}
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end m-1">
                {% if page_obj.has_previous %}
                    <li>
                    <a class="rounded btn btn-secondary"
                    href="?page={{ page_obj.previous_page_number }}">
                    &laquo; Previous</a>
                    </li>
                {% endif %}
                {% if page_obj.has_next %}
                <li>
                <a class="rounded btn btn-secondary" 
                href="?page={{ page_obj.next_page_number }}">
                Next &raquo;</a>
                </li>
                {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
</div> 
{% endblock %}
