{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="delete-container">
        <form method="post" class="d-flex col-12 flex-column align-items-center">
            <h3 class="col-12 text-center main-heading text-black">
                Delete Recipe?
            </h3>
            {% csrf_token %}
            <p class="delete-info text-center">Are you sure you want to delete the recipe:<b>"{{ recipe.title }}"?</b></p>
            <p class="delete-info text-center">Once actioned, this cannot be undone.</p>
            
            {{ form }}
            <input type="submit" value="Confirm" class="btn btn-outline-danger btn-lg" aria-label="Confirm Recipe Deletion">
        </form>
</div>

{% endblock %}