{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container col-12 d-flex justify-content-center">
    <h2 class="col-4">Edit Comment:</h2>
</div>

{% if updated %}
    <h4>Updated Successfully</h4>
{% else %}
<div class="container d-flex justify">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="container col-12 d-flex justify-content-end">
            <input type="submit" class="" value="Update">
        </div>
    </form>
</div>

{% endif %}
{% endblock %}
