<!-- Homepage recipe display -->
{% extends "base.html" %}

{% load static %}

{% block content %}
    <!-- Hero Image -->
    <img src="{% static 'images/hero-slim.webp' %}" class="img-fluid" alt="a plot of land growing corn">

        <!-- Why Sign Up Accordian -->
        <div class="accordion col-12">
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#collapseOne" 
                aria-expanded="true" 
                aria-controls="collapseOne"
                >
                    <div class="container">
                        <div class="h4 text-center">
                            Why Sign Up?
                        </div>
                    </div>
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse hide">
                <div class="accordion-body text-center">
                    Join our community and be able to comment on recipes, like recipes and interact with 
                    our community via the comments section. This platform is in its seedling phase and there is so much more to come.
                    Check out the <strong>Features Coming Soon...</strong> section below to see how we intend to grow, together. 
                </div>
            </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#collapseTwo" 
                aria-expanded="true" 
                aria-controls="collapseTwo"
                >
                    <div class="container">
                        <div class="h4 text-center">
                            <strong>Features Coming Soon...</strong>
                        </div>
                    </div>
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse hide">
                <div class="accordion-body ul-container">
                    <ul class="feature-list">
                        <li>Submit your own recipes</li>
                        <li>Have your own profile with picture</li>
                        <li>Share your favourite recipes</li>
                        <li>Follow your favourite cooks/chefs</li>
                        <li>Profile recipe feed</li>
                    </ul>
                </div>
            </div>
            </div>
        </div>

    <!-- Recipes Section -->
    <div class="col-12 md-4">
        <div class="row">
            {% for recipe in recipe_list %}
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ recipe.image.url }}" class="card-img-top" alt="{{recipe.image_alt}}">
                    <div class="card-body">
                        <a href="#">
                            <h5 class="card-title">{{recipe.title}}</h5>
                        </a>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Created by {{recipe.author}}</h6>
                        {% for tag in tags %}
                            <a href="#">#{{ tag.name }}</a>
                        {% endfor %}
                        <a href="#">
                            <p class="card-text">{{ recipe.summary }}</p>
                        </a>
                        <span class="card-text text-muted h6">{{recipe.published_on}}</span>
                        <span><i class="far fa-heart right"></i>{{ post.number_of_likes }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Pagination Navigation --> 
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
        <li class="page-item disabled">
        <a class="page-link">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
        <a class="page-link" href="#">Next</a>
        </li>
    </ul>
    </nav>

{% endblock %}