{% extends 'base.html'%}

{% load static %}

{% block content %}

<div class="col-12 bck-img bck-color" style="background-image: url('{% static 'images/bookmark-bckgrnd.webp' %}');">
    <div class="bck-color">
        <h3 class="col-12 text-center bookmark-title">
            My Recipes
        </h3>
        <!-- Each Recipe Row Item -->
        {% for recipe in recipe_list %}
            {% if request.user == recipe.author %}
                <div class="row g-0 bookmark-row rounded">
                    {% if recipe.status == 0 %}
                    <a href="#" class="col-4 h5 item-title">{{recipe.title}}</a>
                        <span class="col-1"> In Draft - Add edit link here </span>
                        {% if 'default' in recipe.image.url %}
                            <a href="#" class="col-5 bookmark-def-img" style="background-image: url('{% static 'images/bookmark-logo.webp' %}');"></a>
                        {% else %}
                            <a href="#" class="col-5 bookmark-img" style="background-image: url('{{ recipe.image.url }}')"></a>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'recipe_detail' recipe.slug %}" class="col-4 h5 item-title">{{recipe.title}}</a>
                        <span class="col-1"> Published </span>
                        {% if 'default' in recipe.image.url %}
                            <a href="{% url 'recipe_detail' recipe.slug %}" class="col-5 bookmark-def-img" style="background-image: url('{% static 'images/bookmark-logo.webp' %}');"></a>
                        {% else %}
                            <a href="{% url 'recipe_detail' recipe.slug %}" class="col-5 bookmark-img" style="background-image: url('{{ recipe.image.url }}')"></a>
                        {% endif %}
                    {% endif %}
                    <form action="" method="POST" class="col-2">
                        {% csrf_token %}
                        <span> 
                            Edit Icon. Delete Icon.
                        </span>
                    </form>
                </div>
            {% endif %}
        {% endfor %}
        <!-- Pagination Navigation. Credit: 'I Think Therefore I Blog' walkthrough, Code Institute -->
        {% if is_paginated %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
            {% if page_obj.has_previous %}
                <li>
                <a class="page-link"
                href="?page={{ page_obj.previous_page_number }}">
                &laquo; Previous</a>
                </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li>
            <a class="page-link" 
            href="?page={{ page_obj.next_page_number }}">
            Next &raquo;</a>
            </li>
            {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</div> 

{% endblock content %}


