<!-- Single Recipe display -->
{% extends "base.html" %}

{% load static %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
            {% if 'default' in recipe.image.url %}
            <img src="{% static 'images/logo1.webp' %}" class="col-md-6 rounded card detail-img" alt="Recipe Repo logo. Recipes plus storage.">
            {% else %}
            <img src="{{ recipe.image.url }}" class="col-md-6 rounded card detail-img" alt="{{ recipe.image_alt }}">
            {% endif %}
        <div class="col-md-6 card">
            <div class="card-body d-flex justify-content-end flex-column flex-wrap">
                <div class="h3"> {{ recipe.title }} </div>
                <h6 class="card-subtitle mb-4 text-body-secondary">Created by {{recipe.author}}</h6>
                <div class="h5"> {{ recipe.summary }} </div>
                <p class="mt-auto"> {{recipe.published_on }} </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 card">
            <div class="card-body">
                <div class="h5">Ingredients</div>
                <p> {{ recipe.ingredients.html | safe }} </p>
            </div>
        </div>
        <div class="col-md-6 card">
            <div class="card-body">
                <div class="h5"> Instructions </div>
                <p> {{ recipe.instructions.html | safe }} </p>
            </div>
        </div>
    </div>
</div>
<!-- Like/Bookmark -->
<div class="icons-container">
    <span><i class="far fa-heart fa-xl"></i> {{ recipe.number_of_likes }}</span>
    <span><i class="fa-regular fa-bookmark fa-xl"></i></span>
</div>
<!-- Comments -->
<div class="col-12 d-flex flex-column align-items-center">
    <hr class="m-0 col-10 center">
    <h3 class="p-4 m-0">Comments:</h3>
</div>
<div class="col-12 d-flex flex-column align-items-center">
    {% for comment in comments %}
    <div class="col-10 mb-4 comment-box">
        <p class="col-12 comment-name m-0">
            <span class="comment-user"><b>{{ comment.user }}</b></span>
            <span class="comment-date">{{ comment.published }}</span>
        </p>
        <p class="comment-content m-0">{{ comment.content }}</p>
    </div>
    {% endfor %}
</div>
{% if user.is_authenticated %}
    <div class="col-12 d-flex flex-column align-items-center">
        <h4 class="col-4">Leave a comment:</h4>
        <p class="col-4">Commenting as: {{ user.username }}</p>
        <form method="post" class="col-6">
            {{comment_form | crispy }}
            {% csrf_token %}
            <div class="d-flex justify-content-end">
                <button type="submit m-1" class="btn btn-login m-2 col-3">Submit</button>
            </div>
        </form>
    </div>
{% endif %}
{% endblock %}