{% extends 'base.html' %}

{% block nav_seasons %}
    active
{% endblock %}

{% block nav_seasons_all %}
    active
{% endblock %}

{% load static %}

{% block content %}

    <!-- Hero Image and Season Text -->

    <div class="seasons-bckgrnd col-12" style="background-image: url('{% static 'images/all-seasons.webp' %}');">
        <div class="opaque-50 vh-20 col-12 d-flex flex-column justify-content-around align-items-center">
            <h2 class="seasons-title m-0 p-2">All Seasons</h2>
        </div>
    </div>

    <!-- Recipes Section -->
    <div class="col-12 md-4">
        <div class="row g-0">
            {% for recipe in recipe_list %}
            <div class="col-md-3 d-flex align-items-stretch card-padding">
                <div class="card">
                    <!-- Image -->
                    {% if 'default' in recipe.image.url %}
                        <div class="image">
                            <a href="{% url 'recipe_detail' recipe.slug %}" class="card-img-top" style="background-image: url('{% static 'images/logo1.webp' %}');"></a>
                        </div>
                    {% else %}
                        <div class="image">
                            <a href="{% url 'recipe_detail' recipe.slug %}" class="img card-img-top" style="background-image: url('{{ recipe.image.url }}')"></a>
                        </div>
                    {% endif %}
                    <!-- Card Body - Text, Tags and Icons -->
                    <div class="card-body d-flex justify-content-end flex-column">
                        <!-- Title and Author -->
                        <a href="{% url 'recipe_detail' recipe.slug %}" class="recipe-link">
                            <h5 class="card-title">{{recipe.title}}</h5>
                        </a>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Created by {{recipe.author}}</h6>
                        <!-- Tags -->
                        <div class="d-flex flex-wrap ">
                            {% for tag in recipe.tags.all %}
                            <a href="{% url 'tagged' tag.slug %}" class="tag-btn tag-link">#{{ tag }}</a>
                            {% endfor %}
                        </div>
                        <!-- Summary -->
                        <p class="card-text pt-2">{{ recipe.summary }}</p>
                        <hr class="mt-auto">
                        <!-- Like and Bookmarks Buttons -->
                        <div class="icons-container">
                            {% if user.is_authenticated %}
                            <form action="{% url 'recipe_like' recipe.slug %}" method="POST">
                                {% csrf_token %}
                                {% if request.user in recipe.likes.all %}
                                <span>
                                    <button class="btn-like" type="submit" name="recipe_id" value="{{recipe.slug}}">
                                        <i class="fa-solid fa-heart fa-xl" style="color: #db0000;"></i>
                                    </button>
                                    {{ recipe.number_of_likes }}
                                </span>
                                {% else %}
                                <span>
                                    <button class="btn-like" type="submit" name="recipe_id" value="{{recipe.slug}}">
                                        <i class="far fa-heart fa-xl"></i>
                                    </button>
                                    {{ recipe.number_of_likes }}
                                </span>
                                {% endif %}
                            </form>
                            <form action="{% url 'recipe_bookmark' recipe.slug %}" method="POST">
                                {% csrf_token %}
                                {% if request.user in recipe.bookmarks.all %}
                                <span>
                                    <button class="btn-like" type="submit" name="recipe_id" value="{{recipe.slug}}">
                                        <i class="fa-solid fa-bookmark fa-xl"></i>
                                    </button>
                                </span>
                                {% else %}
                                <span>
                                    <button class="btn-like" type="submit" name="recipe_id" value="{{recipe.slug}}">
                                        <span><i class="fa-regular fa-bookmark fa-xl"></i></span> 
                                    </button>
                                </span>
                                {% endif %}
                            </form>
                        {% else %}
                            <span><i class="far fa-heart fa-xl"></i> {{ recipe.number_of_likes }}</span>
                        {% endif %}
                        </div>
                        <hr>
                        <!-- Date Created -->
                        <div class="card-text text-muted h6 text-center pb-1">{{recipe.published_on}}</div>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row g-0">
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <!-- Pagination Navigation. Credit: 'I Think Therefore I Blog' walkthrough, Code Institute -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-end m-1">
        {% if page_obj.has_previous %}
            <li>
            <a class="rounded btn btn-secondary"
            href="?page={{ page_obj.previous_page_number }}">
            &laquo; Previous</a>
            </li>
        {% endif %}
        {% if page_obj.has_next %}
        <li>
        <a class="rounded btn btn-secondary m-1" 
        href="?page={{ page_obj.next_page_number }}">
        Next &raquo;</a>
        </li>
        {% endif %}
        </ul>
    </nav>
    {% endif %}

{% endblock %}